@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");

#root {
  max-width: 1280px;
  margin: 60px auto 45px auto;
  -webkit-box-shadow: 9px 9px 11px -6px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 9px 9px 11px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 9px 9px 11px -6px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  text-align: center;
  background: #f5eded;
  border-radius: 10px;
  font-family: "Dancing Script", cursive;
}
body {
  padding-top: 56px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.navbar {
  background: #f5eded;
  border-bottom: 1px solid #e3cdcd;
}
.ioHome {
  color: mediumturquoise;
  font-size: 50px;
}

.carrito {
  font-size: 50px;
  color: mediumturquoise;
}

.productos {
  margin-bottom: 40px;
}
